{% load widget_tweaks %}

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Connexion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="login-form">{% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        {{ login_form.username.label_tag }}
                        {{ login_form.username|add_class:"form-control" }}
                        <small class="red-text" id="no-user-error" style="display:none;">
                        We didn't find you! Please Register</small>
                    </div>
                    <div class="form-group">
                        {{ login_form.password.label_tag }}
                        {{ login_form.password|add_class:"form-control" }}
                        <small class="red-text" id="password-error" style="display:none;">
                        Wrong Password!</small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="close-login" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input class="btn btn-primary" type="submit" value="Connexion"/>
                    <input type="hidden" name="next" value="{{ next }}"/>
                </div>
            </form>
        </div>
    </div>
</div>
