{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome/all.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/datatable/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/datatable/select.bootstrap4.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/jQuery/toast.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
