<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column list-unstyled">
            {% for module, details in sidebar.items %}
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" href="#{{ module }}-sub-module"
                       data-toggle="collapse" aria-expanded="false">
                        <i class="fas fa-{{ details.icon }}"></i> {{ details.name }}
                    </a>
                    <ul id="{{ module }}-sub-module" class="collapse list-unstyled px-5">
                        {% for sub_module, sub_details in details.modules.items %}
                            <li>
                                <a id="{{ sub_module }}-link" class="nav-link nav-module" href="{{ sub_details.1 }}">
                                    <i class="fas fa-{{ sub_details.2 }}"></i> {{ sub_details.0 }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>
