{% load static %}

<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        {% include 'snippets/css.html' %}
        {% block css %}{% endblock %}
        <title>Dashboard{% block title %}{% endblock %}</title>
    </head>

    <body>
        {% include 'snippets/nav.html' %}
        <div class="container-fluid">
            <div class="row">
                {% if user.is_authenticated %}
                    {% include 'snippets/sidebar.html' %}
                {% endif %}
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    {% block content %}{% endblock %}
                </main>
            </div>
        </div>
        {% if not user.is_authenticated %}
            {% include 'accounts/login_register_modal.html' %}
        {% endif %}
    </body>

    <footer>
        {% include 'snippets/script.html' %}
        {% block javascript %}{% endblock %}
    </footer>
</html>
