{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="pt-3 pb-2 mb-3 border-bottom">
            <ul class="nav nav-tabs" id="module-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="tab-dashboard" data-toggle="tab" href="#dashboard-tab" role="tab"
                       aria-controls="dashboard" aria-selected="true">
                        Dashboard
                    </a>
                </li>
            </ul>
            <div class="tab-content" id="module-tab-content">
                <div class="tab-pane fade show active" id="dashboard-tab">
                    <div class="pt-3 pb-2 mb-3 border-bottom">
                        <nav class="navbar">
                            <div class="navbar-left">
                                <h4>Dashboard</h4>
                            </div>
                            <div class="navbar-right">
                                <div class="btn-group" role="group" aria-label="Tools buttons">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Share
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Export
                                    </button>
                                </div>
                                <div id="dashboard-datatable-toolbar" class="btn-group" role="group"
                                     aria-label="dashboard buttons"></div>
                            </div>
                        </nav>
                        <div class="accordion" id="dashbord-collapsible">
                            {% if notifications %}
                                <div class="card">
                                    <div class="card-header" id="notification-collapse">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                                    data-target="#notification-content" aria-expanded="true"
                                                    aria-controls="notification-content">
                                                Notifications
                                            </button>
                                        </h2>
                                    </div>

                                    <div id="notification-content" class="collapse show"
                                         aria-labelledby="notification-content"
                                         data-parent="#dashbord-collapsible">
                                        <div class="card-body">
                                            <div class="row">
                                                {% for notification in notifications %}
                                                    <div id="notification-{{ notification.id }}"
                                                         class="col-sm-12 col-md-4">
                                                        <div class="alert alert-{{ notification.get_severity_display }}"
                                                             role="alert">
                                                            <h4 class="alert-heading">{{ notification.title }}</h4>
                                                            <p>{{ notification.content }}</p>
                                                            <hr>
                                                            <p class="mb-0">
                                                                <button id="btn-ok-notif-{{ notification.id }}"
                                                                        class="btn btn-secondary dismiss-notif">OK</button>
                                                                <button type="button" class="btn btn-secondary"
                                                                        title="{{ notification.popover_title }}"
                                                                        data-container="body" data-toggle="popover"
                                                                        data-placement="top"
                                                                        data-content="{{ notification.popover_content }}">
                                                                    Info
                                                                </button>
                                                            </p>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="card">
                                <div class="card-header" id="graph-collapse">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse"
                                                data-target="#graph-content" aria-expanded="true"
                                                aria-controls="graph-content">
                                            Graph
                                        </button>
                                    </h2>
                                </div>

                                <div id="graph-content"
                                     class="collapse {% if not notifications %}show{% endif %}"
                                     aria-labelledby="graph-content"
                                     data-parent="#dashbord-collapsible">
                                    <div class="card-body">
                                        <div class="row">
                                            <canvas id="myChart"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <script>
            onload = () => {
                $('#login-modal').modal()
            }
        </script>
    {% endif %}
{% endblock %}
